{% extends "base.html" %}

{% block extra_meta %}
		{% if user.is_authenticated %}
			<meta http-equiv="refresh" content="0;url=/my_reservations">
		{% endif %}
			{% endblock %}
{% block title %}Log in{% endblock %}

{% block content %}
<div id="messages_home">
{% if not user.is_authenticated %}
 <strong><h1>Welcome to Room Reservation System.</h1></strong>
<p> For accounts, please approach the staff </p>
{% block messages %}
<hr></hr>
<h2> Announcements </h2>
<p>

</p>
{% endblock %}
</div>
<div id="login">
<h3>Login form</h3>
{% if form.errors %}
<p class="error">Invalid Username or Password</p>
{% endif %}
<form method="post" action="?next={{ next|default:"/" }}">
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="submit" value="Log in" /></dt>
</dl>
</form>

</div>

{% endif %}
{% endblock %}
{% block content-related %}
{% endblock %}