{% extends "base.html" %}
{% load scheduletags %}

{% block extra_head %}
    {{ block.super }}
    {% include "schedule/_dialogs.html" %}
{% endblock %}

{% block body %}

<div class="navigation">
  <a href="{% url month_calendar calendar.slug %}{% querystring_for_date periods.day.start 2 %}">
	Month View
  </a>
</div>
<div class="tablewrapper">
    <div class="calendarname">{{ calendar.name }}</div>
    {% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y" %}
    <div class="now">
      <a href="{% url day_calendar calendar.slug %}">
        Today
      </a>
    </div>
</div>
<div style="position:relative;">
    <div style="position:relative;left:100px;">
      {% daily_table periods.day 420 150 500 0 12 %}
    </div>

    <div style="position:relative;left:100px">
      {% daily_table periods.day 420 150 500 12 24 %}
    </div>
</div>

{% endblock %}
