{% extends "base.html" %}
{% load scheduletags %}
{% block head_title %}{{room.name}}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {% include "schedule/_dialogs.html" %}
{% endblock %}

{% block body %}
<div class="tablewrapper">
  <div class="roomname">{{ room.name }}</div>
  
  {% prevnext "month_room" room.slug periods.month "F Y"%}
  <div class="now">
    <a href="{% url month_room room.slug %}">
      This month
    </a>
  </div>
  {% month_table room periods.month "regular" %}
</div>
{% endblock %}
