{% extends "base.html" %}
{% load scheduletags %}
{% block head_title %}{{room.name}}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    {% include "schedule/_dialogs.html" %}
{% endblock %}

{% block body %}

<div class="navigation">
  <a href="{% url month_room room.slug %}{% querystring_for_date periods.day.start 2 %}">
	Month View
  </a>
</div>
<div class="tablewrapper">
    <div class="roomname">{{ room.name }}</div>
    {% prevnext "day_room" room.slug periods.day "l, F d, Y" %}
    <div class="now">
      <a href="{% url day_room room.slug %}">
        Today
      </a>
    </div>
</div>
<div style="position:relative;">
    <div style="position:relative;left:100px;">
      {% daily_table periods.day 420 150 500 5 12 %}
    </div>

    <div style="position:relative;left:100px">
      {% daily_table periods.day 420 150 500 12 20 %}
    </div>
</div>

{% endblock %}
