{% extends "base.html" %}
{% load scheduletags %}
{% block body %}
<div class="tablewrapper">
  <div class="roomname">{{ room.name }}</div>
  {% prevnext "tri_month_room" room.slug periods.month "F Y"%}
  <div class="now">
    <a href="{% url tri_month_room room.slug %}">
      This month
    </a>
  </div>
<table align="center">
	<tr>
		<td valign="top">{% month_table room periods.month "small" -1 %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table room periods.month "small" %}</td>
		<td width="12">&nbsp;</td>
		<td valign="top">{% month_table room periods.month "small" +1 %}</td>
	</tr>
</table>
</div>
<div class="navigation">
  <a href="{% url month_room room.slug %}{% querystring_for_date periods.month.start 2 %}">
    Monthly Room
  </a>
  <a href="{% url year_room room.slug %}{% querystring_for_date periods.month.start 1 %}">
    Full Year Room
  </a>
</div>
{% endblock %}
