{% extends "base.html" %}
{% load i18n %}
{% load scheduletags %}

{% block head_title %}All Reservations{% endblock %}

{% block body %}

<p><strong>All Reservations</strong></p>
<div class="datagrid"><table>
<thead>
	<tr>
		<th>Room</th>
		<th>Title</th>
		<th>Start time</th>
		<th>End time</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Created on</th>
	</tr>
</thead>
<tbody>
{% if reservations %}
		{% for reservation in reservations %}
	<tr>
		<td>{{ reservation.calendar.name }}</td>
		<td>{{ reservation.title }}</td>
		<td>{{ reservation.start }}</td>
		<td>{{ reservation.end }}</td>
		<td>{{ reservation.description }}</td>
		<td>{{ reservation.creator }}</td>
		<td>{{ reservation.created_on }}</td>
	</tr>
		{% endfor %}
{% else %}
	<tr>
		<th colspan=7 align=center>No reservations.</td>
	</tr>
{% endif %}
</tbody>
</table>

{% endblock %}
