{% extends "base.html" %}
{% load i18n %}
{% load scheduletags %}

{% block head_title %}My Reservations{% endblock %}

{% block body %}



<p><strong>My Reservations</strong></p>
<div class="datagrid"><table>
<thead>
	<tr>
		<th>Title</th>
		<th>Start time</th>
		<th>End time</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Created on</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
{% if reservations %}
		{% for reservation in reservations %}
	<tr>
		<td>{{ reservation.title }}</td>
		<td>{{ reservation.start }}</td>
		<td>{{ reservation.end }}</td>
		<td>{{ reservation.description }}</td>
		<td>{{ reservation.creator }}</td>
		<td>{{ reservation.created_on }}</td>
		<td>
			<a href="{% url delete_event reservation.id %}">Cancel</a>
		</td>
	</tr>
		{% endfor %}
{% else %}
	<tr>
		<th colspan=7 align=center>No reservations.</th>
	</tr>
{% endif %}
</tbody>
</table>
</div>
 {% endblock %}