{% extends "base.html" %}
{% load i18n %}
{% load scheduletags %}
{% block head_title %}My Reservations{% endblock %}

{% block body %}

<p><strong>My Reservations</strong></p>
<div class="datagrid"><table>
<thead>
	<tr>
		<th>Room</th>
		<th>Title</th>
		<th>Start time</th>
		<th>End time</th>
		<th>Description</th>
		<th>Creator</th>
		<th>Created on</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
{% if reservations %}
		{% for event in reservations %}
	<tr>
		<td>{{ event.calendar.name }}</td>
		<td>{{ event.title }}</td>
		<td>{{ event.start }}</td>
		<td>{{ event.end }}</td>
		<td>{{ event.description }}</td>
		<td>{{ event.creator }}</td>
		<td>{{ event.created_on }}</td>
		<td>
		 {% ifequal event.creator request.user %}
		  <a href="{% url edit_event event.calendar.slug,event.id %}">
			<img border="0" src="{{ MEDIA_URL }}schedule/img/pencil.png" alt="{% trans "Change" %}"/>
		  </a>
		  &nbsp;
		  <a href="{% url delete_event event.id %}">
			<img border="0" src="{{ MEDIA_URL }}schedule/img/delete.png" alt="{% trans "Delete" %}"/>
		  </a>
		  {% endifequal %}
		</td>
		</tr>
			{% endfor %}
{% else %}
	<tr>
		<th colspan=8 align=center>No reservations.</th>
	</tr>
{% endif %}
</tbody>
</table>
</div>
 {% endblock %}