{% extends "base.html" %}
{% load i18n %}
{% load scheduletags %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.timePicker.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#id_date").datepicker();
        });
    </script>
{% endblock %}

{% block head_title %}Search by Date{% endblock %}

{% block body %}

<form action="" method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Search by Date" %}">
<input type="button" value="{% trans "Cancel" %}" onclick="window.location='/my_reservations'"/>

{% endblock %}